{% extends 'blog/base.html' %}

{% block content %}
{% for post in post_list %}
<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">
      <a href="{% url 'blog:detail' post.pk %}" style="color: black;"><strong>{{post.title}}</strong></a>
    </h3>
    <div class="card-subtitle mb-2 text-muted">
      {{post.created_at|date:"Y-m-j"}}  /  {{post.category}}
    </div>
    <div class="card-text">
      {{post.text}}
    </div>
  </div>
</div>
{% endfor %}
<div class="container">
  {%include 'blog/page.html'%}
</div>


{% endblock %}
